.sidebar-container{
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
    margin-top: 20px;
}

/* Button styles */

a{
    text-decoration: none !important;
}

.btn-body{
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #f8d9c0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    background-color: rgba(244, 187, 146, 0);
    transition: all .5s;
}

.btn-body.active{
    background-color: rgba(244, 187, 146, 1);
    color: #fff;
    transform: scale(1.05);
}

.btn-body:hover{
    color: #fff;
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}